[user]
	name = Gabriel Horner
	email = gabriel.horner@gmail.com

[include]
    path = ~/.gitconfig.github

[color]
	diff = auto
	branch = auto
	status = auto
	interactive = auto

[core]
	excludesfile = ~/.git_ignore
  attributesfile = ~/.git_attributes
	pager = diff-so-fancy | less --tabs=4 -RFX

[push]
	default = current

#thanks to http://hoth.entp.com/2009/1/21/git-track-is-where-its-at
[alias]
  co = checkout
  ls = ls-files
  re = remote
  # List files
  ignored = "!git ls-files --others --exclude-standard"
  pending = !git --no-pager log origin/master..master && echo
  # stats
  who = shortlog -s -n
  # commit views
  network = log --graph --pretty=oneline --abbrev-commit
  lg = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"
  news = log -p HEAD@{1}..HEAD@{0}
  fd = diff HEAD ^origin/master
  fl = log HEAD ^origin/master

  # commit
  msha = rev-parse --short=20
  human-commit = log --format="%H" -n 1 --until

  # operations
  # http://stackoverflow.com/questions/9651898/is-there-a-git-sed-or-equivalent
  sed = ! git ls-files -z | xargs -0 sed -i -e
  sup = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`

[url "git@github.com:"]
    insteadOf = "gh:"

[url "git://github.com/"]
    insteadOf = "github:"

[url "git://gist.github.com/"]
    insteadOf = "gist:"

[url "git@heroku.com:"]
    insteadOf = "heroku:"

[url "git@bitbucket.org:"]
    insteadOf = "bit:"

[credential]
	helper = osxkeychain
[interactive]
	diffFilter = diff-so-fancy --patch
[init]
	defaultBranch = main

[includeIf "gitdir:~/code/work/"]
    path = ~/.work.gitconfig
