[user]
	name = Gabriel Horner
	email = gabriel.horner@gmail.com

[include]
    path = ~/.gitconfig.github

[color]
	diff = auto
	branch = auto
	status = auto
	interactive = auto

[core]
	excludesfile = ~/.git_ignore

[push]
	default = current

#thanks to http://hoth.entp.com/2009/1/21/git-track-is-where-its-at
[alias]
  co = checkout
  ls = ls-files
  ignored = "!git ls-files --others --exclude-standard"
  pending = !git --no-pager log origin/master..master && echo
  nb = checkout -b
  who = shortlog -s -n
  network = log --graph --pretty=oneline --abbrev-commit
  re = remote
  lg = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"
  news = log -p HEAD@{1}..HEAD@{0}
  # http://stackoverflow.com/questions/9651898/is-there-a-git-sed-or-equivalent
  sed = ! git ls-files -z | xargs -0 sed -i -e
  fd = diff HEAD ^origin/master
  fl = log HEAD ^origin/master

[url "git@github.com:"]
    insteadOf = "gh:"

[url "git://github.com/"]
    insteadOf = "github:"

[url "git://gist.github.com/"]
    insteadOf = "gist:"

[url "git@heroku.com:"]
    insteadOf = "heroku:"
[credential]
	helper = osxkeychain
