# variables
set meta-flag on
set input-meta on
set output-meta on
set convert-meta off
set completion-ignore-case on
set show-all-if-ambiguous on
set show-all-if-unmodified on
set completion-query-items 120
#set page-completions off
#set print-completions-horizontally on

# macros
#"\e3": "@[]\e[D"
#"\e\e[D": backward-word

# keys
set keymap emacs
$include /Users/bozo/.input/common_keys
"\C-h": vi-editing-mode
"\C-x\C-f": forward-search-history

set editing-mode emacs
$if mode=vi
  set keymap vi-command
  $include /Users/bozo/.input/vi_keys
  $include /Users/bozo/.input/common_keys
  "_": beginning-of-line
  "qq": start-kbd-macro
  "qe": end-kbd-macro
  "Q": call-last-kbd-macro
  "\'": vi-goto-mark
  "yn":yank-nth-arg
  "yl":yank-last-arg

  set keymap vi-insert
  $include /Users/bozo/.input/vi_keys
  $include /Users/bozo/.input/common_keys
  "\C-l": clear-screen
  "\C-p": previous-history
  "\C-n": next-history
$endif

