;; Config for use across bb-logseq-* tools in https://github.com/cldwalker/bb-clis
{;;for bb-logseq-convert
 :text-properties
 {"http://ogp.me/ns#description" "desc"
  "http://opengraphprotocol.org/schema/description" "desc"
  "http://schema.org/description" "desc"
  "http://schema.org/headline" "desc"
  "http://schema.org/name" "name"
  "http://ogp.me/ns#title" "name"
  "http://opengraphprotocol.org/schema/title" "name"}

 ;; for bb-logseq-convert
 :host-properties
 {"github.com"
  #{"http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
    "http://ogp.me/ns#description"
    "http://schema.org/name"}

  "gist.github.com"
  #{"http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
    "http://ogp.me/ns#description"
    "http://schema.org/name"}

  "youtube.com"
  ;; consider duration and related u.author.{name,url}
  #{"http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
    "http://ogp.me/ns#description"
    "http://schema.org/name"}

  "imdb.com"
  ;; consider genre, rating, date published and actors
  ;; related anonymous _.name would be preferred
  #{"http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
    "http://opengraphprotocol.org/schema/title"
    ;; Can't use http://schema.org/name b/c inconsistent
    ;; Can't use http://ogp.me/ns#title b/c it works for actor but not movie urls
    "http://schema.org/description"}

  "en.wikipedia.org"
  ;; too many types to be consistently correct
  #{"http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
    "http://schema.org/headline"}

  "nytimes.com"
  ;; too many types to be consistently correct
  #{"http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
    "http://schema.org/headline"}

  "vimeo.com"
  ;; inconsistent type
  #{"http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
    "http://schema.org/description"
    "http://ogp.me/ns#title"}

  "reddit.com"
  #{"http://ogp.me/ns#title"}

  "goodreads.com"
  #{"http://www.w3.org/1999/02/22-rdf-syntax-ns#type"
    "http://ogp.me/ns#description"
    ;; b/c http://schema.org/name is inconsistent
    "http://ogp.me/ns#title"}

  "stackoverflow.com"
  #{"http://ogp.me/ns#title"
    "https://schema.org/description"}}

 ;; for bb-logseq-convert
 :url-properties
 [["gist.github.com/([^/]+)/[^/]+"
   ;; schema.org/Code not mapped to snippet
   {:properties {:type "snippet"}
    :capture-names [:creator]}]
  ;; almost no rdf-data
  ["twitter.com/[^/]+/status/.*"
   {:properties {:type "comment"}}]
  ;; they claim news article but not what I read
  ["medium.com/[^/]+/.+"
   {:properties {:type "blog-posting"}}]
  ;; inconsistent types
  ["youtube.com/watch"
   {:properties {:type "video"}}]
  ;; inconsistent types
  ["stackoverflow.com/questions/.+"
   {:properties {:type "question"}}]
  ;; no rdf data
  ["schema.org/.+"
   {:properties {:type "type"}}]
  ;; no rdf data
  ["news.ycombinator.com/item"
   {:properties {:type "comment"}}]
  ;; inconsistent types
  ["vimeo.com/.+"
   {:properties {:type "video"}}]
  ;; inconsistent types and/or takes too long
  ["nytimes.com/.+"
   {:properties {:type "article"}}]
  ;; rdf data takes too long
  ["washingtonpost.com/.+"
   {:properties {:type "article"}}]
  ;; has no rdf type
  ["reddit.com/r/\\S+/comments/"
   {:properties {:type "comment"}}]]
 }
