;; User keymap
;; -----------------------------
;; Keymaps are stored as a set of diffs that are merged together together
;; to create the final set of keys. You can modify these diffs to either add
;; or subtract bindings.
;;
;; Like behaviors, keys are bound by tag. When objects with those tags are active
;; the key bindings are live. Keys can be bound to any number of Light Table commands,
;; allowing you the flexibility to execute multiple operations together. To see a list
;; of all the commands you can execute, start typing a word related to the thing you
;; want to do in between the square brackets (e.g. type "editor").

{:+ {:app {"alt-tab" [:tabset.next]
           "cmd-k" [:clear-inline-results]}

     :editor {"alt-w" [:editor.watch.watch-selection]
              "alt-shift-w" [:editor.watch.unwatch]

              "cmd-=" [:paredit.select.parent :smart-indent-selection :paredit.select.clear]
              ;;Eval the parent ( ... )
              "alt-enter" [(:paredit.select.parent "(")
                           :eval-editor-form
                           :paredit.select.clear]
              ;; requires master until 0.0.2 paredit
              "alt-s" [:paredit.unwrap.parent]}

     :editor.keys.normal {;;cmd-/ is a leader - must be in insert mode :(
                          "cmd-/ b" [:behaviors.modify-user]
                          "cmd-/ c" [:toggle-console]
                          ;; open browser tab with focus to type url
                          "cmd-/ h" [:add-browser-tab :browser.url-bar.focus]
                          "cmd-/ k" [:keymap.modify-user]
                          "cmd-/ p" [:plugin-manager.show]
                          "cmd-/ w" [:workspace.show]
                          ;; view current html in a split window
                          "cmd-/ s" [:tabset.new :tabset.next :editor.open-current-file-in-browser]

                          ;; a dumb wrap - cursor must be before word
                          ;; a smarter one would 'Bh' if in middle of word
                          "cmd-." [(:editor.open-pair "(") :paredit.grow.right]}

     ;; thanks to https://groups.google.com/forum/#!topic/light-table-discussion/BIyWHnRcoWc
     :editor.keys.vim.normal {">" [:paredit.grow.right]
                              "<" [:paredit.shrink.right]
                              "alt-shift-." [:paredit.shrink.left]
                              "alt-shift-," [:paredit.grow.left]

                              ;;Select the parent expression, whether that's [], {}, or ()
                              "cmd-," [:paredit.select.parent]
                              "cmd-;" [:toggle-comment-selection]}}}
