{
 ;; Properties
 ;; ==========
 :page-property
 {:query [:find (pull ?things [*])
          :in $ ?region %
          :where
          (page-name-property ?_b ?country :region ?region)
          (page-name-property ?_b2 ?author :country-of-origin ?country)
          (page-name-property ?things ?_name :authored-by ?author)]
  :desc "Practice page property query"
  :default-args ["Middle East"]}

 :property-counts
 {:query :all-block-property
  :result-transform (fn [result]
                      (->> result
                           (reduce (fn [acc e]
                                     (update-in acc [(get-in e [:block/properties :type])] (fnil inc 0))) {})
                           (sort-by val >)))
  :default-args ["type"]
  :desc "Counts for given property by type"}

 ;; Misc
 ;; ====
 :page-names
 {:query [:find ?n
          :in $ %
          :where
          [?_b :block/name ?n]]
  :desc "List all page names"}

 ;; Todos
 ;; =====
 :todos-by-marker
 {:query :todos
  :result-transform (fn [result]
                      (update-vals (group-by :block/marker result) count))
  :desc "todos count by marker"}

 :todos-with-urls
 {:query [:find (pull ?b [*])
          :in $ %
          :where
          (todo ?b #{"TODO" "DOING"})
          (content-search ?b "https")]
  :desc "Todos with urls"}

 :tag-todos
 {:query [:find (pull ?b [* {:block/refs [:db/id :block/name]}])
          :in $ ?tag %
          :where
          (todo ?b #{"TODO" "DOING"})
          (tag ?b ?tag)]
  :default-args ["eng"]
  :desc "List all todos for tag"}

 :tag-todos-tag-counts
 {:query :tag-todos
  :result-transform (fn [result]
                      (->> result
                           (mapcat (fn [m] (map :block/name (:block/refs m))))
                           frequencies
                           (sort-by val >)))
  :desc "Counts for tag todos for tag"}}
