;; The deps.edn file describes the information needed to build a classpath.
;; See https://clojure.org/reference/deps_and_cli and https://clojure.org/guides/deps_and_cli
;;
;; When using the `clojure` or `clj` script, there are several deps.edn files
;; that are combined:
;; - install-level
;; - user level (this file)
;; - project level (current directory when invoked)
;;
;; For all attributes other than :paths, these config files are merged left to right.
;; Only the last :paths is kept and others are dropped.

{:aliases
 {;; Start a socket repl on port 5555
  :socket {:jvm-opts ["-Dclojure.server.repl={:port,5555,:accept,clojure.core.server/repl}"]}
  ;; Add portal to a project to tap> to it
  :portal {:extra-deps {djblue/portal {:mvn/version "RELEASE"}}}
  ;; Add reveal to a project, add it as a tap and then tap> to it
  :reveal {:extra-deps {vlaaad/reveal {:mvn/version "0.1.0-ea26"}}}

  :outdated {:extra-deps {antq/antq {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}

  ;; Detect unused vars
  :carve {:extra-deps {borkdude/carve {:git/url "https://github.com/borkdude/carve"
                                       :sha "f499f65e36e02484609f01ce891f3c0207b24444"}}
          :main-opts ["-m" "carve.main"]}

  :rebl        ;; for JDK 11+
  {:extra-deps {com.cognitect/rebl          {:mvn/version "0.9.241"}
                org.openjfx/javafx-fxml     {:mvn/version "15-ea+6"}
                org.openjfx/javafx-controls {:mvn/version "15-ea+6"}
                org.openjfx/javafx-swing    {:mvn/version "15-ea+6"}
                org.openjfx/javafx-base     {:mvn/version "15-ea+6"}
                org.openjfx/javafx-web      {:mvn/version "15-ea+6"}}
   :main-opts ["-m" "cognitect.rebl"]}

  :new {:extra-deps {seancorfield/clj-new {:mvn/version "1.1.228"}}
        :ns-default clj-new
        :exec-args {:template "app"}}}

  ;; :mvn/repos {
  ;;   "central" {:url "https://repo1.maven.org/maven2/"}
  ;;   "clojars" {:url "https://repo.clojars.org/"}
  ;; }
}
